body {
    background-color: gray;
}

h2 {
    background-color: rgb(76, 82, 82);
    height: 50px;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.base {
    width: 30px;
    height: 100px;
    background: black;
    border-radius: 5px 5px 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.traffic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.traffic-light {
    background-color: black;
    display: inline-block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.light {
    width: 150px;
    height: 150px;
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    background-color: blue;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.glow {
    box-shadow: 0px 0px 50px 10px white;
}